@media (max-width: 900px){
    .hard-section .img {
        display:none;
        padding: 0%;
        margin:0;
    }
    .hard-section  {
        justify-content: center;
    }
}

h2{
    transition: 2s;
}