@media (max-width: 900px){
    .whats-section .image {
        display:none;
    }
    .whats-section {
        justify-content: center;
    }

}

.btn{
    background-color:#0f3bbd;
    outline: none;
    border: none;
}