@media (max-width: 900px){
    .whats-section .image {
        display:none;
    }
    .whats-section {
        justify-content: center;
    }
    .btn{
        margin-bottom: 5%;
    }

}

.btn{
    background-color:#0f3bbd;
    outline: none;
    border: none;
}

p {
    transition: 2s;
}

h2 {
    transition: 2s;
}