.action-text{
    padding-top: 10%;
}

.action-text, .title, .subtitle {
    text-align: center;
}

.action-text, .saiba-mais{
    padding-top: 10%;
    background-color: #16167e;
    border-radius: 15%;
}

@media (max-width: 900px){
    .main-section .col-md-7 {
        display:none;
    }
    .main-section {
        justify-content: center;
    }
    .action-text, .saiba-mais{
        padding-bottom: 3%;
        margin-bottom: 5%;
    }
}

